* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    font-weight: 400;
    position: absolute;
    width: 100%;
}

h1 {
    font-size: 47px;
    font-weight: 600;
}

h2 {
    font-size: 30px;
    font-weight: 400;
}

p, button {
    font-size: 20px
}

.appear-left {
    animation: appear-left 0.8s ease-out forwards;
}

.appear-right {
    animation: appear-right 0.8s ease-out forwards;
}

.appear-down {
    animation: appear-down 0.8s ease-out forwards;
}

.bold {
    font-weight: 600;
}

.important-text {
    color: #FF1D61;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    color: #E7E7E7;
}

section {
    padding: 0 100px;
}




.load-container {
    width: 100%;
    height: 100%;
    background-color: #000000;
    position: absolute;
    top: 0;
    z-index: 10;
    transition: opacity 0.7s ease-in 2s;
    color: white;
}
/* 
.load-container h1 {
    margin: 0;
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
} */

.hide {
    opacity: 0;
}

.dissapear {
    display: none;
}




button.go-up {
    position: fixed;
    z-index: 5;
    bottom: 50px;
    right: 50px;
    padding: 20px;
    border-radius: 100%;
    background-color: #000000;
    transition: all 0.2s ease-out;
    color: white;
    font-family: inherit;
    font-weight: 600;
}

button.go-up:hover {
    bottom: 60px;
    cursor: pointer;
}

button.go-up img {
    width: 35px;
    height: 35px;
    padding: 0 2px;
}



.main {
    background-image: url("../static/img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    padding-top: 150px;
    padding-bottom: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dev-info {
    display: flex;
    align-items: center;
}

.dev-info h1 {
    margin-bottom: 10px;
    width: fit-content;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: name-appear 1s ease-in-out forwards;
    animation-delay: 3s;
}

.dev-info h2 {
    margin-bottom: 10px;
    width: fit-content;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: name-appear 1s ease-in-out forwards;
    animation-delay: 3.5s;
}

.dev-info h4 {
    width: fit-content;
    max-width: 0;
    overflow: hidden;
    white-space: nowrap;
    animation: name-appear 1s ease-in-out forwards;
    animation-delay: 3.7s;
}

.dev-info-img {
    width: 360px;
    height: 360px;
}

.dev-info-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100%;
    display: block;
}

.dev-info-description {
    margin-left: 45px;
}

.dev-info-description div {
    display: flex;
    margin-top: 10px;
    width: fit-content;
    max-width: 0;
    overflow: hidden;
    animation: name-appear 2s ease-in forwards;
    animation-delay: 3.9s;
}

.dev-info-description svg {
    color: white;
    min-width: 30px;
}

.main-menu ul {
    margin-right: 30px;
}

.main-menu li {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
    text-align: right;
    direction: rtl;
    cursor: pointer;
    transition: 0.1s linear;
}

.main-menu li:hover {
    color: rgb(88, 184, 179);
    font-size: 35px;
}

.main-menu li:last-child {
    margin-bottom: 0;
}




.about-me-section {
    background: linear-gradient(rgba(255,255,255,0), white 300px);
    margin-top: -400px;
    margin-bottom: 100px;
    display: grid;
    grid-template-areas: 
            'title image'
            'description image'
            'timeline timeline';
    grid-template-columns: 3fr 4fr;
}

.about-me-section h1 {
    grid-area: title;
    margin-top: 250px;
    padding-top: 100px;
    position: relative;
}

.about-me-section > p {
    grid-area: description;
    line-height: 1.5;
    padding-right: 25%;
    position: relative;
}

.about-me-section .image {
    grid-area: image;
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
    margin-top: 350px;
}

.about-me-section .image img {
    height: auto;
    width: 100%;
}

.about-me-section .degrade {
    background: linear-gradient(90deg, white, rgba(255,255,255,0));
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
}

.timeline {
    grid-area: timeline;
    margin-top: 50px;
}

.timeline canvas {
    width: 100%;
    height: 30px;
}

.timeline div {
    display: flex;
    align-items: end;
}

.timeline div p {
    width: 16.67%;
    font-size: 16px;
    text-align: center;
}


.technologies-section {
    background-image: url("../static/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    padding-bottom: 100px;
}

.technologies-section h1 {
    color: white;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.technologies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.technologies > div {
    display: flex;
    align-items: center;
    height: 360px;
    background-color: rgba(0,0,0,0.3);
    position: relative;
}

.technologies li {
    font-size: 20px;
    color: white;
}

.technologies img {
    display: block;
}

.technologies ul {
    position: absolute;
    left: 55%;
}

.technologies li {
    margin: 8px 0;
}




.courses-section {
    padding-top: 50px;
    padding-bottom: 100px;
}

.courses-section h1 {
    text-align: center;
    margin-bottom: 50px;
}

.courses {
    display: flex;
    justify-content: space-between;
}

.course {
    border: 2px black solid;
    width: 32%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.udemy-course {
    width: 24%;
    position: absolute;
    left: 38%;
    transform: translate(0,-50%);
    padding: 15px;
    background-color: white;
}

.course-img {
    margin: 40px 5% 20px 5%;
    width: 90%;
    height: 50%;
    object-fit: contain;
}

.course hr {
    width: 70%;
    border: 1px #252525 solid;
    margin: 0 15% 20px 15%;
}

.course h2 {
    font-weight: 600;
    text-align: center;
    width: 90%;
    margin: 10px 5% 30px 5%;
}

.course h4 {
    color: #4C4C4C;
    width: 90%;
    margin: 25px 5% 20px 5%;
    position: absolute;
    bottom: 0%;
}

.course h4 a {
    color: inherit;
}




.projects-section {
    background-image: url("../static/img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0 0 0;
}

.projects-section h1 {
    color: white;
    text-align: center;
    margin-bottom: 50px;
}






.card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 100px;
  }
  
  .card {
    background-color: rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    width: calc(100%-100px);
    overflow: hidden;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
  }
  
  .card-content {
    padding: 20px;
    width: 60%;
  }
  
  .card-content h2 {
    margin-bottom: 20px;
    font-weight: 600;
    color: white;
  }
  
  .card-content p {
    color: white;
    margin-bottom: 30px;
  }

  .card-content a {
    color: rgb(88, 184, 179);
    text-decoration: none;
  }

  .card-content a:hover {
    color:rgb(191, 191, 191);
  }

  .subtext {
    font-size: 16px;
  }

  .card-content p.subtext {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .card-content a {
    display: flex;
    align-items: center;
    width: fit-content;
  }

  .card-content a svg {
    margin-right: 5px;
  }
  
  .card-image {
    width: 30%;
    overflow: hidden;
    height: auto;
  }
  
  .card-image img {
    width: 100%;
    height: auto;
    min-width: 100%;
    object-fit: cover;
    object-position: center;
  }
  
  @media screen and (max-width: 768px) {
    .card {
      width: calc(50% - 20px); /* 2 cards in a row on medium screens */
    }
  }
  
  @media screen and (max-width: 480px) {
    .card {
      width: 100%; /* 1 card in a row on small screens */
      flex-direction: column;
    }
    
    .card-content {
      width: 100%;
      padding: 15px;
    }
    
    .card-image {
      width: 100%;
      margin-top: 10px;
    }
  }

.projects-section .degrade {
    background: linear-gradient(rgba(25,25,25,0), rgb(25,25,25));
    height: 300px;
}



footer {
    height: 500px;
    background-color: rgb(25, 25, 25);
}




@keyframes name-appear {
    from {
        max-width: 0;
    }
    to {
        max-width: 500px;
    }
}

@keyframes appear-left {
    from {
        opacity: 0;
        left: -100px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes appear-right {
    from {
        opacity: 0;
        left: 100px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}

@keyframes appear-down {
    from {
        opacity: 0;
        bottom: -50px;
    }
    to {
        opacity: 1;
        bottom: 0;
    }
}




@media (max-width: 900px) {

    p {
        font-size: 18px;
    }

    section {
        padding: 0 30px;
    }

    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 25px;
    }

    h4 {
        font-size: 14px;
    }
    
    .main {
        padding: 0;
        background-size: auto 100%;
    }

    .main-menu {
        display: none;
    }

    .dev-info {
        flex-direction: column;
        width: 100%;
        margin-bottom: 300px;
    }

    .dev-info-img {
        width: 50vw;
        height: 50vw;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .dev-info-description {
        margin: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dev-info-description * {
        display: flex;
        justify-content: center;
    }

    .dev-info-img img {
        width: 100%;
        height: 100%;
    }



    .about-me-section {
        background: linear-gradient(rgba(255,255,255,0), white 200px);
        margin-top: -200px;
        grid-template-areas: 
                'title'
                'description'
                'image'
                'timeline';
        grid-template-columns: 1fr;
    }

    .about-me-section h1 {
        margin-top: 250px;
        margin-bottom: 50px;
        text-align: center;
    }

    .about-me-section p {
        padding: 0;
    }

    .about-me-section .image {
        margin-top: 20px;
    }

    .about-me-section .image img {
        width: 100%;
        height: auto;
    }

    .about-me-section .image .degrade {
        display: none;
    }

    .about-me-section .timeline {
        display: none;
    }



    .technologies {
        display: flex;
        flex-direction: column;
    }

    .technologies div {
        width: 100%;
        flex-direction: column;
        height: fit-content;
        align-items: baseline;
    }

    .technologies img {
        width: auto;
        max-width: 70%;
        height: 50vw;
        margin: 50px 0;
        align-self: center;
    }

    .technologies ul {
        position: initial;
        margin-bottom: 20px;
        margin-left: 50px;
    }

    .technologies li {
        font-size: 18px;
        color: white;
    }

    .technologies > div:nth-child(3) > img {
        width: 50%;
        height: auto;
    }

    .technologies > div:nth-child(4) > img {
        width: 50%;
        height: auto;
    }



    .courses {
        flex-wrap: wrap;
    }

    .course {
        width: 96%;
        margin-bottom: 50px;
    }

    .course h4 {
        position: relative;
        margin-top: 0;
    }

    footer {
        height: 200px;
    }



    .card-container {
        margin: 0 30px;
        width: calc(100%-60px);
    }

    .card {
        padding: 20px;
        width: calc(100% - 40px);
    }

    .card-content {
        padding: 0;
    }

    .card-content p.subtext {
      text-align: center;
    }

}

@media (min-width: 900px) {
    
    .technologies > div:first-child > img {
        padding: 50px 0;
        height: 70%;
        margin: 0 100px;
    }

    .technologies > div:nth-child(2) > img {
        padding: 50px 0;
        width: 40%;
        margin-left: 50px;
        margin-right: 80px;
    }

    .technologies > div:nth-child(3) > img {
        padding: 50px 0;
        width: 30%;
        margin-left: 80px;
        margin-right: 100px;
    }

    .technologies > div:nth-child(4) > img {
        padding: 50px 0;
        height: 50%;
        margin: 0 80px;
        margin-right: 120px;
    }

    .dev-info-img {
        animation: appear-left 0.8s ease-out 2s;
        position: relative;
    }

    .main-menu li:nth-child(1) {
        opacity: 0;
        animation: appear-right 0.8s ease-out forwards;
        animation-delay: 2s;
        position: relative;
    }

    .main-menu li:nth-child(2) {
        opacity: 0;
        animation: appear-right 0.8s ease-out forwards;
        animation-delay: 2.1s;
        position: relative;
    }

    .main-menu li:nth-child(3) {
        opacity: 0;
        animation: appear-right 0.8s ease-out forwards;
        animation-delay: 2.2s;
        position: relative;
    }

    .main-menu li:nth-child(4) {
        opacity: 0;
        animation: appear-right 0.8s ease-out forwards;
        animation-delay: 2.3s;
        position: relative;
    }

    .courses .course:nth-child(2) {
        animation-delay: 0.3s;
    }

    .courses .course:nth-child(3) {
        animation-delay: 0.6s;
    }

    .about-me-section h1 {
        opacity: 0;
    }
    
    .about-me-section > p {
        opacity: 0;
    }
    
    .about-me-section .image {
        opacity: 0;
    }

    .course {
        opacity: 0;
        position: relative;
    }

}